/* body element */
body{
    font-family : 'Open Sans', sans-serif;
    background : url("Images/keyboard-5017973_960_720.jpeg") no-repeat center center;
    background-attachment : fixed;
    background-size : cover;
    color : white;
}

.meas_container{
    background-color:  rgba(236, 34, 202, 0.5);
}

.row{
    font-size : 30px;
}

.title{
    font-size : 15px;
}

.typingIcon{
    height:50px;
}

#content{
    height : 100px;
    background-color : rgba(255,255,255,0.2); 
    margin : 10px auto;
    font-size : 30px;
    overflow : hidden;
    padding : 0 5px;
    line-height : 40px;
} 

.change{
    height : 25px;
    font-size : 16px;
}